<div class="col-md-3 left_col">
   <div class="left_col scroll-view">
      <div class="navbar nav_title" style="border: 0;">
         <a href="index.html" class="site_title"></i> <img src="images/logo_side_nav.png" alt=""></a>
      </div>
      <div class="clearfix"></div>
      <!-- menu profile quick info -->
      <div class="profile">
         <div class="profile_pic">
            <img src="images/img.jpg" alt="..." class="img-circle profile_img">
         </div>
         <div class="profile_info">
            <span>Welcome,</span>
            <h2>jithendra.Ghanta</h2>
         </div>
      </div>
      <hr class="dash" />
      <!-- /menu profile quick info -->
      <!-- sidebar menu -->
      <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
         <div class="menu_section">
            <ul class="nav side-menu">
               <li>
                  <a href="Dashboard.html"><img src="images/Dashboard.png" alt="">&nbsp Dashboard </a>
                  <div class="pusher"></div>
               </li>
               <li class=''>
                  <a>
                     <img src="images/Timesheet.png" alt="">&nbsp Create <!-- <span class="fa fa-chevron-down"></span> -->
                  </a>
                  <div class="submenu-wrapper">
                     <i class="fa btn-close" aria-hidden="true">X</i>
                     <ul class="nav child_menu">
                        <li>
                           <a href="MyTimesheet.html">My Timesheet</a>
                           <div class="pusher"></div>
                        </li>
                        <li>
                           <a href="Timesheet History.html">Timesheet History</a>
                           <div class="pusher"></div>
                        </li>
                     </ul>
                  </div>
                  <div class="pusher"></div>
               </li>
               <li>
                  <a href="projects.html"><img src="images/Projects.png" alt="">&nbsp &nbsp Inventory</a>
                  <div class="pusher"></div>
               </li>
               <li>
                  <a href="tasks.html"><img src="images/Tasks.png" alt="">&nbsp Bill of Material </a>
                  <div class="pusher"></div>
               </li>
               <li>
                  <a href="leaveManagement.html"><img src="images/Leave_Management.png" alt="">&nbsp Sales Function</a>
                  <div class="pusher"></div>
               </li>
               <li>
                  <a href="Attendance.html"><img src="images/Attendence.png" alt="">&nbsp Job Order</a>
                  <div class="pusher"></div>
               </li>
               <li>
                  <a href="support.html"><img src="images/Support.png" alt="">&nbsp Manfacturing</a>
                  <div class="pusher"></div>
               </li>
               <li>
                  <a href="support.html"><img src="images/Support.png" alt="">&nbsp Job Status</a>
                  <div class="pusher"></div>
               </li>
               <li>
                  <a href="support.html"><img src="images/Support.png" alt="">&nbsp Packaging</a>
                  <div class="pusher"></div>
               </li>
               <li>
                  <a href="support.html"><img src="images/Support.png" alt="">&nbsp Quality Control</a>
                  <div class="pusher"></div>
               </li>
               <li>
                  <a href="support.html"><img src="images/Support.png" alt="">&nbsp Dispatch</a>
                  <div class="pusher"></div>
               </li>
               <li>
                  <a href="support.html"><img src="images/Support.png" alt="">&nbsp Logistics</a>
                  <div class="pusher"></div>
               </li>
               <li>
                  <a href="support.html"><img src="images/Support.png" alt="">&nbsp Reports</a>
                  <div class="pusher"></div>
               </li>
            </ul>
         </div>
      </div>
      <!-- /sidebar menu -->
      <!-- /menu footer buttons -->
      <!--       <div class="sidebar-footer hidden-small">
         <a data-toggle="tooltip" data-placement="top" title="Settings">
         <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
         </a>
         <a data-toggle="tooltip" data-placement="top" title="FullScreen">
         <span class="glyphicon glyphicon-fullscreen" aria-hidden="true"></span>
         </a>
         <a data-toggle="tooltip" data-placement="top" title="Lock">
         <span class="glyphicon glyphicon-eye-close" aria-hidden="true"></span>
         </a>
         <a data-toggle="tooltip" data-placement="top" title="Logout">
         <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
         </a>
         </div> -->
      <!-- /menu footer buttons -->
   </div>
</div>