        <div class="login-form"> 
         <div class="login_wrapper">
            <div class="logo_login"><img src="images/logo_login.png"></div>

            <div class="animate form login_form">

               <div class="well">

                  <section class="login_content">
                     <form>
                        <h1>LOGIN</h1>
                        <label id="dis"></label><br>
                        <div class="main-form">
                           <div class=" form-group has-feedback">
                              <input type="text" class="form-control has-feedback-left" id="user" placeholder="Username">
                              <span class="fa fa-user form-control-feedback left form-control-icon" aria-hidden="true"></span>
                           </div>
                           <div class=" form-group has-feedback">
                              <input type="password" class="form-control has-feedback-left" id="pass" placeholder="Password">
                              <span class="fa fa-lock form-control-feedback left form-control-icon" aria-hidden="true"></span>
                           </div>
                           <div>               
                              <a class="reset_pass" href="#">Forgot password?</a>
                           </div>
                           <div>               
                              <a href="mas" class="btn btn-custom">SIGN IN</a>
                           </div>
                           <div class="checkbox">
                              <input name="remember" type="checkbox" value="Remember Me" class="login-input">
                              <label>
                              Remember Me
                              </label>
                           </div>
                        </div>
                        <div class="clearfix"></div>
                     </form>
                  </section>
               </div>
            </div>
         </div>
         
      </div>
      <div class="moldtek-logo"><img src="images/moldtek_logo.png"></div>  