<div class="">
   <div class="page-title">
      <div class="title_left">
         <h3>Welcome..!</h3>
      </div>
   </div>
   <div class="clearfix"></div>
   <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12 text-center">
         <div class="x_panel custom-xpanel">
            <div class="x_content">
               <div class="col-md-12 col-sm-12 col-xs-12">
                     <h1></h1>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>