* { box-sizing:border-box; }

body {
	font-family: Helvetica;
	background: #eee;
  -webkit-font-smoothing: antialiased;
      background-image: url(../images/bg_splash.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: auto;
}

hgroup { 
	text-align:center;
	margin-top: 4em;
}

h1, h3 { font-weight: 300; }

h1 { color: #636363; }

h3 { color: #4a89dc; }
.login-form {
	margin-right: 20em;
    //margin-top: 8em;
    float:right;
}
.login-form  p{
	font-size: 13px;
	font-weight: 600;
  color:#fff;
  margin-top: 45px;
  text-align: center;
}
form {
	width: 33em;	
	padding: 2.2em 5em 5em 5em;
	//border: 1px solid #ebebeb;
	box-shadow: rgba(0,0,0,0.14902) 0px 1px 1px 0px,rgba(0,0,0,0.09804) 0px 1px 2px 0px;
	background: #33b5d9;
	
}

.group { 
	position: relative; 
	margin-bottom: 45px; 
}

.login-textbox,.login-password {
    font-size: 18px;
    padding: 10px 10px 10px 5px;
    -webkit-appearance: none;
    display: block;
    background: #33b5d9;
    color: #fff;
    width: 100%;
    border: none;
    border-radius: 0;
    border-bottom: 1px solid #fff;
}

.login-textbox,.login-password:focus { outline: none; }


/* Label */

.login-label {
	color: #fff; 
	font-size: 15px;
	font-weight: normal;
	position: absolute;
	pointer-events: none;
	left: 5px;
	top: 10px;
	-webkit-transition:all 0.2s ease;
	transition: all 0.2s ease;
}


/* active */

input:focus ~ label, input.used ~ label {
	top: -20px;
  -webkit-transform: scale(.75);
          transform: scale(.75); left: -2px;
	/* font-size: 14px; */
	color: #fff;
}


/* Underline */

.bar {
	position: relative;
	display: block;
	width: 100%;
}

.bar:before, .bar:after {
	content: '';
	height: 2px; 
	width: 0;
	bottom: 1px; 
	position: absolute;
	background: #22bcd5; 
	-webkit-transition:all 0.2s ease; 
	transition: all 0.2s ease;
}

.bar:before { left: 50%; }

.bar:after { right: 50%; }


/* active */

input:focus ~ .bar:before, input:focus ~ .bar:after { width: 50%; }


/* Highlight */

.highlight {
	position: absolute;
	height: 60%; 
	width: 100px; 
	top: 25%; 
	left: 0;
	pointer-events: none;
	opacity: 0.5;
}


/* active */

input:focus ~ .highlight {
	-webkit-animation: inputHighlighter 0.3s ease;
	        animation: inputHighlighter 0.3s ease;
}


/* Animations */

@-webkit-keyframes inputHighlighter {
	from { background: #22bcd5; }
	to 	{ width: 0; background: transparent; }
}

@keyframes inputHighlighter {
	from { background:#22bcd5; }
	to 	{ width: 0; background: transparent; }
}


/* Button */

.button {
  position: relative;
  display: inline-block;
  padding: 12px 24px;
  margin: .3em 0 1em 0;
  width: 100%;
  vertical-align: middle;
  color: #fff;
  font-size: 14px;
  line-height: 20px;
  -webkit-font-smoothing: antialiased;
  text-align: center;
  letter-spacing: 1px;
  background: transparent;
  border: 2px solid #fff;
  border-radius: 25px;  
  cursor: pointer;
  -webkit-transition:all 0.15s ease;
  transition: all 0.15s ease;
}
.button:focus { outline: 0; }


/* Button modifiers */

.buttonBlue {
  background: #33b5d9;
  text-shadow: 1px 1px 0 rgba(39, 110, 204, .5);
  margin-bottom: 4em;
}

.buttonBlue:hover {
    background: #06cdee;
}


/* Ripples container */

.ripples {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: transparent;
}


/* Ripples circle */

.ripplesCircle {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  opacity: 0;
  width: 0;
  height: 0;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.25);
}

.ripples.is-active .ripplesCircle {
  -webkit-animation: ripples .4s ease-in;
          animation: ripples .4s ease-in;
}


/* Ripples animation */

@-webkit-keyframes ripples {
  0% { opacity: 0; }

  25% { opacity: 1; }

  100% {
    width: 200%;
    padding-bottom: 200%;
    opacity: 0;
  }
}

@keyframes ripples {
  0% { opacity: 0; }

  25% { opacity: 1; }

  100% {
    width: 200%;
    padding-bottom: 200%;
    opacity: 0;
  }
}

/*footer { text-align: center; }

footer p {
	color: #888;
	font-size: 13px;
	letter-spacing: .4px;
}

footer a {
	color: #4a89dc;
	text-decoration: none;
	-webkit-transition:all .2s ease;
	transition: all .2s ease;
}

footer a:hover {
	color: #666;
	text-decoration: underline;
}

footer img {
	width: 80px;
	-webkit-transition:all .2s ease;
	transition: all .2s ease;
}

footer img:hover { opacity: .83; }

footer img:focus , footer a:focus { outline: none; }*/
.remeber-forget {
	margin-bottom: 20px;
}
.remeber-forget .remember-text {
	    color: #fff;
    padding-top: 0;
    position: relative;
    top: -4px;
    left: 5px;

}
.remeber-forget .login-checkbox {
	height: 20px;
	width: 18px;
}

/*************loginform start********************/
/***animation for image start***/
.logo-img {
            -moz-animation-duration: 2s;
            -webkit-animation-duration: 2s;
             animation-duration: 2s;
            -moz-animation-name: slidein;
            -webkit-animation-name: slidein;
             animation-name: slidein;
         }
         @-moz-keyframes slidein {
            from {
               margin-left:50%;
                
            }
           
            to {
               margin-left:0%;

            }
         }
         @-webkit-keyframes slidein {
            from {
               margin-left:100%;

            }
            
            to {
               margin-left:0%;

            }
         }
         @keyframes slidein {
            from {
               margin-left:100%;

            }
            
            to {
               margin-left:0%;

            }
         }         
/***animation for image end***/

/*loginform animation*/
.login-form {
    -webkit-animation-name: login-form;
    animation-name: login-form;
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}
@-webkit-keyframes login-form {
    0%, 60%, 75%, 90%, 100% {
        -webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
        transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    }
    0% {
        opacity: 0;
        -webkit-transform: translate3d(-3000px, 0, 0);
        transform: translate3d(-3000px, 0, 0);
    }
    60% {
        opacity: 1;
        -webkit-transform: translate3d(25px, 0, 0);
        transform: translate3d(25px, 0, 0);
    }
    75% {
        -webkit-transform: translate3d(-10px, 0, 0);
        transform: translate3d(-10px, 0, 0);
    }
    90% {
        -webkit-transform: translate3d(5px, 0, 0);
        transform: translate3d(5px, 0, 0);
    }
    100% {
        -webkit-transform: none;
        transform: none;
    }
}
@keyframes login-form {
    0%, 60%, 75%, 90%, 100% {
        -webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
        transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    }
    0% {
        opacity: 0;
        -webkit-transform: translate3d(-3000px, 0, 0);
        transform: translate3d(-3000px, 0, 0);
    }
    60% {
        opacity: 1;
        -webkit-transform: translate3d(25px, 0, 0);
        transform: translate3d(25px, 0, 0);
    }
    75% {
        -webkit-transform: translate3d(-10px, 0, 0);
        transform: translate3d(-10px, 0, 0);
    }
    90% {
        -webkit-transform: translate3d(5px, 0, 0);
        transform: translate3d(5px, 0, 0);
    }
    100% {
        -webkit-transform: none;
        transform: none;
    }
}

/*loginform animation*/
header{
  overflow: hidden;
}
form .logo-icon {text-align: center;}

form .logo-icon h3 {
  margin-top: 25px;
  margin-bottom: 25px;
  color:#fff;
  text-shadow: 2px 2px 2px rgba(51, 51, 51, 0.4);
  letter-spacing: 1px;
}
form .user-box {
  margin-bottom: 20px;
}

/*******check box start***********/
.regular-checkbox:checked + label {
    background-color: #e9ecee;
    border: 1px solid #adb8c0;
    box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05), inset 15px 10px -12px rgba(255,255,255,0.1);
    color: #99a1a7;
}
.big-checkbox + label {
    padding: 13px;
}
.regular-checkbox + label {
    background-color: #33b5d9;
    border: 1px solid #fff;
    //box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05);
    padding: 12px;
    display: inline-block;
    position: relative;
}
.big-checkbox:checked + label:after {
    font-size: 23px;
    left: 3px;
}
.regular-checkbox:checked + label:after {
    content: '\2714';
    font-size: 20px;
    position: absolute;
    bottom: 0;
    left: 3px;
    color: #21bbd4;
}
.regular-checkbox {
    display: none;
}
.remeber-forget {
  text-align:center;
}
.remeber-forget span{
    color: #fff;
    position: relative;
    bottom: 8px;
    left: 6px;
    font-size: 17px;
}
/*******check box end***********/
